RetailSoftFrontEnd/RetailSoft/RetailSoft/Connected Services/ReporteWS/ReporteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.retailsoft.pucp.org/" targetNamespace="http://services.retailsoft.pucp.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarReporteProveedores" type="tns:generarReporteProveedores" />
  <xs:element name="generarReporteProveedoresResponse" type="tns:generarReporteProveedoresResponse" />
  <xs:complexType name="generarReporteProveedores">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteProveedoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>