RetailSoftFrontEnd/RetailSoft/RetailSoft/Connected Services/LogisticaWS/LogisticaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.retailsoft.pucp.org/" targetNamespace="http://services.retailsoft.pucp.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarStock" type="tns:actualizarStock" />
  <xs:element name="actualizarStockResponse" type="tns:actualizarStockResponse" />
  <xs:element name="eliminarAlmacenxVehiculo" type="tns:eliminarAlmacenxVehiculo" />
  <xs:element name="eliminarAlmacenxVehiculoResponse" type="tns:eliminarAlmacenxVehiculoResponse" />
  <xs:element name="eliminarLote" type="tns:eliminarLote" />
  <xs:element name="eliminarLoteResponse" type="tns:eliminarLoteResponse" />
  <xs:element name="eliminarProducto" type="tns:eliminarProducto" />
  <xs:element name="eliminarProductoResponse" type="tns:eliminarProductoResponse" />
  <xs:element name="eliminarProveedor" type="tns:eliminarProveedor" />
  <xs:element name="eliminarProveedorResponse" type="tns:eliminarProveedorResponse" />
  <xs:element name="eliminarTransportista" type="tns:eliminarTransportista" />
  <xs:element name="eliminarTransportistaResponse" type="tns:eliminarTransportistaResponse" />
  <xs:element name="insertarAlmacen" type="tns:insertarAlmacen" />
  <xs:element name="insertarAlmacenResponse" type="tns:insertarAlmacenResponse" />
  <xs:element name="insertarAlmacenxVehiculo" type="tns:insertarAlmacenxVehiculo" />
  <xs:element name="insertarAlmacenxVehiculoResponse" type="tns:insertarAlmacenxVehiculoResponse" />
  <xs:element name="insertarCategoria" type="tns:insertarCategoria" />
  <xs:element name="insertarCategoriaResponse" type="tns:insertarCategoriaResponse" />
  <xs:element name="insertarLote" type="tns:insertarLote" />
  <xs:element name="insertarLoteResponse" type="tns:insertarLoteResponse" />
  <xs:element name="insertarProducto" type="tns:insertarProducto" />
  <xs:element name="insertarProductoResponse" type="tns:insertarProductoResponse" />
  <xs:element name="insertarPromocion" type="tns:insertarPromocion" />
  <xs:element name="insertarPromocionResponse" type="tns:insertarPromocionResponse" />
  <xs:element name="insertarProveedor" type="tns:insertarProveedor" />
  <xs:element name="insertarProveedorResponse" type="tns:insertarProveedorResponse" />
  <xs:element name="insertarTipoVehiculo" type="tns:insertarTipoVehiculo" />
  <xs:element name="insertarTipoVehiculoResponse" type="tns:insertarTipoVehiculoResponse" />
  <xs:element name="insertarTransportista" type="tns:insertarTransportista" />
  <xs:element name="insertarTransportistaResponse" type="tns:insertarTransportistaResponse" />
  <xs:element name="insertarVehiculo" type="tns:insertarVehiculo" />
  <xs:element name="insertarVehiculoResponse" type="tns:insertarVehiculoResponse" />
  <xs:element name="listadoAlmacen" type="tns:listadoAlmacen" />
  <xs:element name="listadoAlmacenResponse" type="tns:listadoAlmacenResponse" />
  <xs:element name="listadoAlmacenxVehiculo" type="tns:listadoAlmacenxVehiculo" />
  <xs:element name="listadoAlmacenxVehiculoResponse" type="tns:listadoAlmacenxVehiculoResponse" />
  <xs:element name="listadoAntiguosProveedores" type="tns:listadoAntiguosProveedores" />
  <xs:element name="listadoAntiguosProveedoresResponse" type="tns:listadoAntiguosProveedoresResponse" />
  <xs:element name="listadoProveedores" type="tns:listadoProveedores" />
  <xs:element name="listadoProveedoresResponse" type="tns:listadoProveedoresResponse" />
  <xs:element name="listadoRecientesProveedores" type="tns:listadoRecientesProveedores" />
  <xs:element name="listadoRecientesProveedoresResponse" type="tns:listadoRecientesProveedoresResponse" />
  <xs:element name="listadoTipoVehiculos" type="tns:listadoTipoVehiculos" />
  <xs:element name="listadoTipoVehiculosResponse" type="tns:listadoTipoVehiculosResponse" />
  <xs:element name="listadoTransportista" type="tns:listadoTransportista" />
  <xs:element name="listadoTransportistaResponse" type="tns:listadoTransportistaResponse" />
  <xs:element name="listadoVehiculos" type="tns:listadoVehiculos" />
  <xs:element name="listadoVehiculosResponse" type="tns:listadoVehiculosResponse" />
  <xs:element name="listarCategoriasProducto" type="tns:listarCategoriasProducto" />
  <xs:element name="listarCategoriasProductoResponse" type="tns:listarCategoriasProductoResponse" />
  <xs:element name="listarCriteriosControlCalidad" type="tns:listarCriteriosControlCalidad" />
  <xs:element name="listarCriteriosControlCalidadResponse" type="tns:listarCriteriosControlCalidadResponse" />
  <xs:element name="listarLotes" type="tns:listarLotes" />
  <xs:element name="listarLotesResponse" type="tns:listarLotesResponse" />
  <xs:element name="listarLotesXFechaCompra" type="tns:listarLotesXFechaCompra" />
  <xs:element name="listarLotesXFechaCompraResponse" type="tns:listarLotesXFechaCompraResponse" />
  <xs:element name="listarLotesXFechaLlegada" type="tns:listarLotesXFechaLlegada" />
  <xs:element name="listarLotesXFechaLlegadaResponse" type="tns:listarLotesXFechaLlegadaResponse" />
  <xs:element name="listarLotesXIDProveedorAlmacen" type="tns:listarLotesXIDProveedorAlmacen" />
  <xs:element name="listarLotesXIDProveedorAlmacenResponse" type="tns:listarLotesXIDProveedorAlmacenResponse" />
  <xs:element name="listarLotesXProveedor" type="tns:listarLotesXProveedor" />
  <xs:element name="listarLotesXProveedorResponse" type="tns:listarLotesXProveedorResponse" />
  <xs:element name="listarLotexCriterioControlCalidad" type="tns:listarLotexCriterioControlCalidad" />
  <xs:element name="listarLotexCriterioControlCalidadResponse" type="tns:listarLotexCriterioControlCalidadResponse" />
  <xs:element name="listarMarcasProducto" type="tns:listarMarcasProducto" />
  <xs:element name="listarMarcasProductoResponse" type="tns:listarMarcasProductoResponse" />
  <xs:element name="listarPorIdAlmacen" type="tns:listarPorIdAlmacen" />
  <xs:element name="listarPorIdAlmacenResponse" type="tns:listarPorIdAlmacenResponse" />
  <xs:element name="listarPorNombreProveedor" type="tns:listarPorNombreProveedor" />
  <xs:element name="listarPorNombreProveedorResponse" type="tns:listarPorNombreProveedorResponse" />
  <xs:element name="listarProductos" type="tns:listarProductos" />
  <xs:element name="listarProductosResponse" type="tns:listarProductosResponse" />
  <xs:element name="listarProductosXPromocion" type="tns:listarProductosXPromocion" />
  <xs:element name="listarProductosXPromocionResponse" type="tns:listarProductosXPromocionResponse" />
  <xs:element name="listarProductosxCategoria" type="tns:listarProductosxCategoria" />
  <xs:element name="listarProductosxCategoriaResponse" type="tns:listarProductosxCategoriaResponse" />
  <xs:element name="listarProductosxIdNombre" type="tns:listarProductosxIdNombre" />
  <xs:element name="listarProductosxIdNombreResponse" type="tns:listarProductosxIdNombreResponse" />
  <xs:element name="listarProductosxMarca" type="tns:listarProductosxMarca" />
  <xs:element name="listarProductosxMarcaResponse" type="tns:listarProductosxMarcaResponse" />
  <xs:element name="listarPromocionesXCategoria" type="tns:listarPromocionesXCategoria" />
  <xs:element name="listarPromocionesXCategoriaResponse" type="tns:listarPromocionesXCategoriaResponse" />
  <xs:element name="listarProveedorEntreFechas" type="tns:listarProveedorEntreFechas" />
  <xs:element name="listarProveedorEntreFechasResponse" type="tns:listarProveedorEntreFechasResponse" />
  <xs:element name="listarSubcategoriasProducto" type="tns:listarSubcategoriasProducto" />
  <xs:element name="listarSubcategoriasProductoResponse" type="tns:listarSubcategoriasProductoResponse" />
  <xs:element name="listarSubcategoriasXCategoria" type="tns:listarSubcategoriasXCategoria" />
  <xs:element name="listarSubcategoriasXCategoriaResponse" type="tns:listarSubcategoriasXCategoriaResponse" />
  <xs:element name="modificarAlmacen" type="tns:modificarAlmacen" />
  <xs:element name="modificarAlmacenResponse" type="tns:modificarAlmacenResponse" />
  <xs:element name="modificarAlmacenxVehiculo" type="tns:modificarAlmacenxVehiculo" />
  <xs:element name="modificarAlmacenxVehiculoResponse" type="tns:modificarAlmacenxVehiculoResponse" />
  <xs:element name="modificarCategoria" type="tns:modificarCategoria" />
  <xs:element name="modificarCategoriaResponse" type="tns:modificarCategoriaResponse" />
  <xs:element name="modificarLote" type="tns:modificarLote" />
  <xs:element name="modificarLoteResponse" type="tns:modificarLoteResponse" />
  <xs:element name="modificarProducto" type="tns:modificarProducto" />
  <xs:element name="modificarProductoResponse" type="tns:modificarProductoResponse" />
  <xs:element name="modificarProveedor" type="tns:modificarProveedor" />
  <xs:element name="modificarProveedorResponse" type="tns:modificarProveedorResponse" />
  <xs:element name="modificarTransportista" type="tns:modificarTransportista" />
  <xs:element name="modificarTransportistaResponse" type="tns:modificarTransportistaResponse" />
  <xs:complexType name="listarLotesXFechaLlegada">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLotesXFechaLlegadaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lote">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="almacen" type="tns:almacen" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element name="costoTotal" type="xs:double" />
      <xs:element name="costoUnitario" type="xs:double" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaCompra" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaLlegada" type="xs:dateTime" />
      <xs:element name="idLote" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listaCriterios" nillable="true" type="tns:lotexCriterioControlCalidad" />
      <xs:element minOccurs="0" name="observacion" type="xs:string" />
      <xs:element name="peso" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="almacen">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="capacidad" type="xs:int" />
      <xs:element name="control_calidad" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="espacio_pickpack" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_mantenimiento" type="xs:dateTime" />
      <xs:element name="idAlmacen" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="responsable" type="xs:string" />
      <xs:element name="sistema_iluminacion" type="xs:boolean" />
      <xs:element name="stand_ajustable" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vehiculos" nillable="true" type="tns:vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vehiculo">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="almacen" type="tns:almacen" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idVehiculo" type="xs:int" />
      <xs:element minOccurs="0" name="placa" type="xs:string" />
      <xs:element minOccurs="0" name="SOAT" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="tipoVehiculo" type="tns:tipoVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoVehiculo">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idTipoVehiculo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lotexCriterioControlCalidad">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="criterioControlCalidad" type="tns:criterioControlCalidad" />
      <xs:element minOccurs="0" name="fechaInspeccion" type="xs:dateTime" />
      <xs:element name="idLotexCriterioControlCalidad" type="xs:int" />
      <xs:element minOccurs="0" name="observacion" type="xs:string" />
      <xs:element name="resultado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="criterioControlCalidad">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idCriterioControlCalidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:boolean" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="marcaProducto" type="tns:marcaProducto" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="promocion" type="tns:promocion" />
      <xs:element name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="subcategoriaProducto" type="tns:subcategoriaProducto" />
      <xs:element minOccurs="0" name="tallaModelo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marcaProducto">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="icono" type="xs:base64Binary" />
      <xs:element name="idMarcaProducto" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="promocion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="categoriaProducto" type="tns:categoriaProducto" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="descuento" type="xs:double" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idPromocion" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioPromocion" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productosXpromocion" nillable="true" type="tns:productoxPromocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriaProducto">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="icono" type="xs:base64Binary" />
      <xs:element name="idCategoriaProducto" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoxPromocion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idProductoxPromocion" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element minOccurs="0" name="promocion" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subcategoriaProducto">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="categoriaProducto" type="tns:categoriaProducto" />
      <xs:element minOccurs="0" name="icono" type="xs:base64Binary" />
      <xs:element name="idSubcategoriaProducto" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="categoriaProducto" type="tns:categoriaProducto" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="notaProveedor" type="xs:string" />
      <xs:element minOccurs="0" name="RUC" type="xs:string" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
      <xs:element minOccurs="0" name="representante" type="xs:string" />
      <xs:element minOccurs="0" name="sitioWeb" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarLote">
    <xs:sequence>
      <xs:element minOccurs="0" name="lote" type="tns:lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarLoteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProductoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAlmacenxVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="almacenxVehiculo" type="tns:almacenxVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="almacenxVehiculo">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="almacen" type="tns:almacen" />
      <xs:element name="idAlmacenxVehiculo" type="xs:int" />
      <xs:element minOccurs="0" name="vehiculo" type="tns:vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAlmacenxVehiculoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listadoTransportista">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listadoTransportistaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:transportista" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transportista">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="brevete" type="xs:base64Binary" />
      <xs:element name="idTransportista" type="xs:int" />
      <xs:element minOccurs="0" name="numBrevete" type="xs:string" />
      <xs:element minOccurs="0" name="tipoBrevete" type="xs:string" />
      <xs:element minOccurs="0" name="vehiculo" type="tns:vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listadoAntiguosProveedores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listadoAntiguosProveedoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoriaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCategoriaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMarcasProducto">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarMarcasProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:marcaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarStock">
    <xs:sequence>
      <xs:element name="idProducto" type="xs:int" />
      <xs:element name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarStockResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="vehiculo" type="tns:vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarVehiculoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlmacenxVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="almaxVehi" type="tns:almacenxVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlmacenxVehiculoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductosxIdNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="idNombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductosxIdNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoriaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCategoriaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSubcategoriasXCategoria">
    <xs:sequence>
      <xs:element name="idCategoria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSubcategoriasXCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:subcategoriaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProductoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarProductosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorIdAlmacen">
    <xs:sequence>
      <xs:element name="idAlmacen" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorIdAlmacenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:almacenxVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAlmacenxVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="almaxVehi" type="tns:almacenxVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAlmacenxVehiculoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLote">
    <xs:sequence>
      <xs:element minOccurs="0" name="lote" type="tns:lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLoteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTransportista">
    <xs:sequence>
      <xs:element minOccurs="0" name="transportista" type="tns:transportista" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTransportistaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarProductoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listadoAlmacen">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listadoAlmacenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:almacen" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarLote">
    <xs:sequence>
      <xs:element minOccurs="0" name="lote" type="tns:lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarLoteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPromocionesXCategoria">
    <xs:sequence>
      <xs:element name="idCategoria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPromocionesXCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProveedorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProveedorEntreFechas">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicial" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProveedorEntreFechasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarProveedorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listadoTipoVehiculos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listadoTipoVehiculosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLotexCriterioControlCalidad">
    <xs:sequence>
      <xs:element name="idLote" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLotexCriterioControlCalidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lotexCriterioControlCalidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCriteriosControlCalidad">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCriteriosControlCalidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:criterioControlCalidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductosXPromocion">
    <xs:sequence>
      <xs:element name="idPromocion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductosXPromocionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:productoxPromocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCategoriasProducto">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCategoriasProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:categoriaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAlmacen">
    <xs:sequence>
      <xs:element minOccurs="0" name="almacen" type="tns:almacen" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAlmacenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlmacen">
    <xs:sequence>
      <xs:element minOccurs="0" name="almacen" type="tns:almacen" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlmacenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSubcategoriasProducto">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarSubcategoriasProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:subcategoriaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorNombreProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="razonProveedor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPorNombreProveedorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTransportista">
    <xs:sequence>
      <xs:element minOccurs="0" name="transportista" type="tns:transportista" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTransportistaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTransportista">
    <xs:sequence>
      <xs:element minOccurs="0" name="transportista" type="tns:transportista" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTransportistaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTipoVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="vehiculoTipo" type="tns:tipoVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTipoVehiculoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listadoAlmacenxVehiculo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listadoAlmacenxVehiculoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:almacenxVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductosxCategoria">
    <xs:sequence>
      <xs:element name="idCategoria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductosxCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listadoVehiculos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listadoVehiculosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLotes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarLotesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductosxMarca">
    <xs:sequence>
      <xs:element name="idMarca" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductosxMarcaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProveedorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLotesXProveedor">
    <xs:sequence>
      <xs:element name="idProveedor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLotesXProveedorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLotesXFechaCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLotesXFechaCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLotesXIDProveedorAlmacen">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProveedorAlmacen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLotesXIDProveedorAlmacenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lote" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPromocion">
    <xs:sequence>
      <xs:element minOccurs="0" name="promocion" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPromocionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listadoProveedores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listadoProveedoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listadoRecientesProveedores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listadoRecientesProveedoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>